<html>
	<head>
		<style type="text/css">
		</style>
	</head>
	<body>
		<h1>Herzlichen Dank!</h1>
		<p>
			Wir freuen uns über Ihre Unterstützung und begrüßen Sie im Codeberg e.V.!
		</p>
		<p>
			Eine E-Mail zur Bestätigung wurde soeben versendet. Bitte prüfen Sie alle Daten sorgfältig.
			Bei Unstimmigkeiten, oder falls Sie keine Nachricht erhalten, nehmen Sie bitte Kontakt auf zu <a href="mailto:codeberg@codeberg.org">codeberg@codeberg.org</a>.
		</p>
		<a href="https://codeberg.org">Zurück to codeberg.org</a>
	</body>
</html>
